<h1>new author</h1>
<% if @author.errors.any? %>
    <p>An error occured</p>
    
    <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
<% end %>
<%= form_for :author, url: authors_path do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>
 <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    
  </p>
 <p>
    <%= f.label :homepage %><br>
    <%= f.text_field :homepage %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
