<h1>new paper</h1>
<% if @author.errors.any? %>
    <p>An error occured</p>
    
    <ul>
        <% @author.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
<% end %>
<%= form_for :paper, url: papers_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
    
  </p>
 <p>
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
