
<p><strong>Paper</strong></p>
<p>
  <strong>title:</strong>
  <%= @paper.title %>
</p>
 
<p>
  <strong>venue:</strong>
  <%= @paper.venue %>
</p>

<p>
  <strong>year:</strong>
  <%= @paper.year %>
</p>

<p><strong>Authors:</strong></p>
<% @paper.authors.each do |author| %>
    <p><%= author.first_name %> <%= author.last_name %></p>
<% end %>
